<div class="card">
    <div class="flex 
                card-container">

        <div class="flex-none 
                    flex 
                    align-items-center 
                    justify-content-center 
                    colorModulo  
                    m-2 
                    px-5 
                    py-1 
                    border-round">
                    <img src="../../../../assets/svg/bx-home.svg" class="house ">
        </div>
        <div class="flex-grow-1 
                    flex 
                    align-items-center 
                    justify-content-center 
                    titlesPrimero 
                    m-2 
                    px-5 
                    py-1 
                    border-round">
                    Liveness Detection System
                
                    <img src="../../../../assets/svg/bxs-cog.svg" class=" align-content-end ml-6 "  alt="">
                
        </div>
        <div class="flex-none 
                    flex 
                    align-items-center 
                    justify-content-center 
                    m-2 
                    px-5 
                    py-3 
                    border-round">
                        <img src="../../../../assets/images/LOGO FINAL.png" class="figuraFinal">
        </div>
    </div>
</div>



    <div class="col md:col-6 sm:col-12" >
    <div class="card">
        <div class="card-container">
            <div class="flex">
                <div class="
 
                            flex 
                            align-items-center 
                            justify-content-center 
                            frontalFace  
                            text-white 
                            m-2 
                            px-5 
                            py-1 
                            expansionTitle
                            border-round">
                            <img src="../../../../assets/svg/fantasma 1.svg" height="50" width="50" class="align-content-start"  alt="">
                            Frontal Face Image
                </div>
                
                <div class=" 
                            flex    
                            justify-content-center  
                            m-2
                            px-5 
                            py-3 
                            colorModulo
                            border-round">
                            <img src="../../../../assets/svg/bx-trash.svg" class="ghost">
                   </div>
                </div>
            </div>
        </div>
    </div>


<!-- Drag Image -->
<div class="grid ">
    <div class="col md:col-6 drag sm:col-12 ml-4" >
        <div id="dragger_wraper" class="dragger" >
            <div id="dragger" >
                <div class="icon">
                    <i class="fa-regular fa-images"></i>
                </div>
                <h2 id="dragger_text">Drag and Drop Image Here</h2>
                <h3>Or</h3>
                
                    <input type="file"  (change)="getFile($event)" id="fileSelectorInput" class="browsefileBtn"  />
                
            
            </div>

        </div>
    </div>
    <div class="col md:col-6 sm:col-12 ">
        Irure ea sit cillum deserunt dolore duis ad nisi veniam do sunt. Excepteur qui cillum eu qui fugiat nisi et in est ea. Exercitation voluptate irure esse culpa ipsum sint tempor ea ullamco magna dolor exercitation ullamco ea. Do ea excepteur elit consectetur ex dolor cupidatat ex ea esse non tempor fugiat quis. Reprehenderit Lorem sint labore aute proident ea.
    </div>
</div>











