
 footer {
    position: relative;
    /* Altura total del footer en px con valor negativo */
    margin-top: auto;
    /* Altura del footer en px. Se han restado los 5px del margen
       superior mas los 5px del margen inferior
    */
    height: 40px;
    padding: 5px 0px;
    /* background: #286af0; */
    bottom: 0;
    text-align:right;
    color: #fff;
}
img{
    width: 222px;
    height: 86px;

}
@media only screen and (min-width: 360px) and (max-width:712px) {
    footer{
        text-align: center;
        bottom: 0;
    }
}
